# Convert birdsong.csv to SQL

In [12]:
# imports
import pandas as pd
import os

## Set the table name

It as assumed that the input CSV is named this, with a '.csv' extension.

In [13]:
table = 'WordAssociation_BC'

## Read the CSV

In [14]:
# read CSV
filename = table + '.csv'
data_df = pd.read_csv(filename)

In [15]:
data_df.head()

   author         word1         word2 source
0     390  substantiate  authenticate     BC
1     663   speed limit          laws     BC
2     331      britches        buckle     BC
3     341       tatonka         tonka     BC
4     635      evidence          deed     BC

## Convert the DataFrame to SQL

Quote everything because the database will do the type conversion.

In [16]:
# create SQL
rows = len(data_df)
lines = []

# header 
header = str(list(data_df.columns)).replace('[','').replace(']','').replace("'",'')
lines.append(f'-- Insert data into the table\n')
lines.append(f'INSERT INTO birdsong ({header})\n')
lines.append(f'VALUES\n')

# for each row in the dataframe
for (i, row) in data_df.iterrows():
    
    # start line
    line = '('
    
    # add each column in this row
    for j in range(len(row)):
        if j < len(row)-1:
            line += '\'' + str(row[j]) + '\','
        else:
            line += '\'' + str(row[j]) + '\''
                
    # finish line
    if i < rows-1:
        # append ',' and end line
        line += '),\n'
    else:
        # append ';' and end line
        line += ');\n'
        
    # add line to lines
    lines.append(line)

## Write the SQL to a file

We will use the table name + a '.sql' extension.

In [17]:
# write lines to file
with open(table + '.sql', 'w') as out:
    out.writelines(lines)