In [34]:
import pandas as pd
import scipy.stats as st

# build a dataframe
d = {
    'one':['a','a','b','b','b','c','c'],
    'two':[2,4,6,6,10,20,40]
}

df = pd.DataFrame(d)
df

  one  two
0   a    2
1   a    4
2   b    6
3   b    6
4   b   10
5   c   20
6   c   40

In [35]:
# group by the 'one' colume
gdf = df.groupby('one')

In [36]:
# summary statistics

# mode function for apply
def mymode(d):
    return(st.mode(d).mode[0][0])

# create dataframe   
ndf = pd.DataFrame(gdf.count())
ndf.rename(columns={'two':'count'}, inplace=True)
ndf['min'] = gdf.min()
ndf['mean'] = round(gdf.mean(),2)
ndf['max'] = gdf.max()
ndf['median'] = gdf.median()
ndf['mode'] = gdf.apply(mymode)
ndf['var'] = round(gdf.var(),2)
ndf['std'] = round(gdf.std(),2)
ndf['sem'] = round(gdf.sem(),2)
ndf

     count  min   mean  max  median  mode     var    std    sem
one
a        2    2   3.00    4       3     2    2.00   1.41   1.00
b        3    6   7.33   10       6     6    5.33   2.31   1.33
c        2   20  30.00   40      30    20  200.00  14.14  10.00